[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chrisgtech
[access "refs/for/refs/*"]
	read = group user/chrisgtech
	push = group user/chrisgtech
	label-Code-Review = -2..+2 group user/chrisgtech
	label-Verified = -1..+1 group user/chrisgtech
	rebase = group user/chrisgtech
	removeReviewer = group user/chrisgtech
	submit = group user/chrisgtech
[access "refs/heads/*"]
	read = group user/chrisgtech
	create = group user/chrisgtech
	push = +force group user/chrisgtech
	pushMerge = group user/chrisgtech
[access "refs/tags/*"]
	push = +force group user/chrisgtech
	pushTag = group user/chrisgtech
	pushSignedTag = group user/chrisgtech
